.r-bottom__agree a,
.r-button,
a {
  text-decoration: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.content ul li:before {
  content: "";
}

.icon,
.row {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.arrow,
.btn,
.visually-hidden {
  overflow: hidden;
}

input {
  -webkit-appearance: none;
}

a {
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: inherit;
}

[hidden] {
  display: none;
}

img,
svg {
  vertical-align: top;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex_justify {
  justify-content: space-between;
}

.flex_vertical {
  align-items: center;
}

.text-dark {
  color: #000 !important;
}

img,
svg {
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {
  .css-full-mobile {
    width: 100% !important;
    max-width: 100% !important;
  }
  .css-to-red {
    color: #FF0600 !important;
  }
  .css-to-middle {
    font-weight: 500 !important;
  }
}
.a,
.content a {
  color: #FF0600;
}

.js-gallery-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: opacity;
}

.js-gallery-background.is-visible {
  z-index: 3;
}

.js-gallery-background.is-next {
  z-index: 2;
}

.js-gallery-background.is-done {
  opacity: 0;
  transition: ease 2s;
}

.js-gallery-background.is-active img {
  transform-origin: 100% 100%;
  animation: scaleUp 10s linear 1 forwards;
}

.content li,
.content p,
.li,
.p {
  font-size: 1.6rem;
  line-height: 120%;
}

.content strong,
.strong {
  font-weight: 500 !important;
}

.b,
.content b {
  font-weight: 700 !important;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 120%;
  font-weight: 700;
}

/*.content h1,
.h1 {
    font-size: 7.7rem;
    line-height: 98%
}

.content h2,
.h2 {
    font-size: 5.6rem;
    line-height: 120%
}

.content h3,
.h3 {
    font-size: 40px
}

.content h4,
.h4 {
    font-size: 3.6rem;
    line-height: 110%;
    font-weight: 500
}

.content h5,
.h5 {
    font-size: 2.4rem;
    line-height: 140%;
    font-weight: 500
}

.content h6,
.h6 {
    font-size: 18px;
    line-height: 140%;
    font-weight: 500
}*/
.error {
  font-size: 1.4rem;
}

.is-regular {
  font-weight: 400 !important;
}

.is-bold {
  font-weight: 700 !important;
}

.content_big ol li:before {
  color: #002137;
}

.content ul li {
  padding-left: 3.2rem;
  display: block;
  position: relative;
}

.content ul li:before {
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 8px;
  width: 8px;
  height: 8px;
  border: 2px solid #002137;
  border-radius: 50%;
}

.content_big ol li:before {
  content: counter(num) ".";
  counter-increment: num;
}

.content_big li,
.content_big p {
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .content_big li,
  .content_big p {
    font-size: 14px;
  }
}

.content_big table {
  font-size: 1.8rem;
}

.content_big li {
  margin-bottom: 14px;
}

.content_big ul {
  padding-top: 15px;
}

.content_big ol {
  list-style-type: none;
  counter-reset: num;
}

.content_big ol li {
  position: relative;
  padding-left: 3.5rem;
}

.content_big ol li:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
}

.accordion__line-li:before,
.input:before {
  content: "";
}

@media only screen and (min-width: 581px) {
  .content ol + p,
  .content ul + p {
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 1280px) {
  .content h1,
  .h1 {
    font-size: 5.6rem;
  }
  .content h5,
  .h5 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .content h1,
  .h1 {
    font-size: 4.8rem;
  }
  .content h2,
  .h2 {
    font-size: 4.5rem;
  }
  .content h4,
  .h4 {
    font-size: 2.8rem;
  }
  .content h5,
  .h5 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .content h1,
  .h1 {
    font-size: 4.2rem;
  }
  .content h2,
  .h2 {
    font-size: 3.9rem;
  }
  .content h3,
  .h3 {
    font-size: 3rem;
  }
  .content h4,
  .h4 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 580px) {
  .content h1,
  .h1 {
    font-size: 2.3rem;
  }
  .content h2,
  .content h3,
  .h2,
  .h3 {
    font-size: 2.6rem;
  }
  .content h4,
  .h4 {
    font-size: 2.3rem;
  }
  .content h6,
  .h6 {
    font-size: 1.4rem;
  }
  .content li {
    padding-left: 18px !important;
  }
  .content ul li:before {
    width: 5px;
    height: 5px;
    border: none;
    top: 5px;
    background-color: #002137;
  }
  .content_big ul {
    padding-top: 5px;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes heartbeat {
  0%, 100%, 40%, 80% {
    transform: scale(0.75);
  }
  20%, 60% {
    transform: scale(1);
  }
}
.accordion {
  position: relative;
  transition: background-color ease 0.4s;
}

.accordion.is-active {
  background-color: #fff;
  z-index: 5;
}

.accordion.is-active .accordion__top {
  border-bottom-color: transparent !important;
}

.accordion.is-active .accordion__arrow {
  transform: rotate(-180deg);
}

.accordion__line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.7rem;
}

.accordion:not(:last-child) .accordion__top {
  border-bottom: 1px solid #cacaca;
}

.accordion__line_big {
  padding-top: 1.8rem;
}

.accordion__line-cell {
  max-width: 50%;
}

.accordion__line-list {
  width: 308px;
  max-width: 100%;
  padding-bottom: 1.3rem;
  padding-top: 0 !important;
}

.accordion__line-li {
  position: relative;
  display: block;
  padding-left: 2.5rem;
  font-weight: 400;
}

.accordion__line-li:before {
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #002137;
}

.accordion__line-li:not(:last-child) {
  margin-bottom: 1.4rem;
}

.accordion__line-item {
  font-weight: 400;
  margin-bottom: 1.1rem;
  line-height: 2.5rem;
}

.accordion__content {
  display: none;
  overflow: hidden;
  padding-bottom: 4rem;
  width: 62.3885918004%;
}

.accordion__text {
  padding-top: 2.3rem;
}

.accordion__header,
.accordion__top.h5 {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 15px 60px 15px 0;
  position: relative;
  cursor: pointer;
  transition: border-bottom ease 0.3s;
  font-size: 32px;
}
@media only screen and (max-width: 768px) {
  .accordion__header,
  .accordion__top.h5 {
    font-size: 20px;
    padding: 15px;
  }
}

.accordion__arrow {
  width: 20px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  fill: transparent;
  stroke: #0e0e0e;
  stroke-width: 2;
  margin-top: -5px;
  transition: ease 0.25s;
}

.arrow {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .accordion__content {
    width: 100%;
  }
}
@media only screen and (max-width: 580px) {
  .accordion__top {
    height: 6.8rem;
    font-size: 1.4rem;
  }
  .accordion__text {
    padding-top: 0;
  }
  .accordion__content {
    padding-bottom: 1.9rem;
  }
  .accordion__line {
    margin-bottom: 1.5rem;
  }
  .accordion__line_big {
    padding-top: 9px;
  }
  .accordion__line-li {
    margin-bottom: 1rem !important;
  }
  .accordion__line-list {
    padding-bottom: 1.1rem;
  }
  .accordion__line-cell:nth-child(2) {
    text-align: right;
  }
  .accordion__line-cell:nth-child(2) span {
    display: block;
  }
  .accordion__line-cell.css-full-mobile {
    text-align: left;
  }
  .accordion__line-item {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-bottom: 1.5rem;
  }
  .accordion__line-item br {
    display: none;
  }
  .accordion.is-active:not(:first-child) {
    margin-top: -1px;
    z-index: 500;
    position: relative;
  }
}
.arrow {
  width: 4px;
  transition: inherit;
  fill: #0E0E0E;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.arrow svg {
  flex: 0 0 auto;
  width: 1.8rem;
  max-width: none;
}

.btn,
.link {
  display: -webkit-inline-box;
}

.btn,
.r-button {
  position: relative;
  padding: 6px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 60px;
  border-radius: 6px;
  text-transform: uppercase;
  color: #fff;
  background: #002137;
  font-weight: 700;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  transition: ease 0.15s;
  border: 1px solid #002137;
}

.btn:hover,
.r-button:hover {
  color: #002137;
  background: #fff;
  border-color: transparent;
}

.r-button {
  max-width: 250px;
}

.error,
.link_red,
a.list__item:hover {
  color: #FF0600;
}

.error,
.gallery-slider__cell_slider {
  overflow: hidden;
}

.head-preview-auto__title {
  color: #fff;
}

.head-preview-auto__sticker {
  width: 25rem !important;
}

.head-preview-auto__bottom-item {
  color: #fff;
}

.error {
  position: absolute;
  left: 0;
}

.error {
  top: 100%;
  width: 100%;
  margin-top: 0.8rem;
  line-height: 140%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 580px) {
  .error {
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }
}
.gallery-slider {
  position: relative;
}

.gallery-slider__list {
  counter-reset: list;
}

.gallery-slider__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
}

.gallery-slider__image.is-active {
  opacity: 1;
  visibility: visible;
}

.gallery-slider__name {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 55px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 40px;
}

.gallery-slider__item {
  display: block;
  padding-left: 3.4rem;
  position: relative;
}

.gallery-slider__item:before {
  counter-increment: list;
  content: counter(list);
  color: #868686;
  font-weight: 500;
  font-size: 20px;
  line-height: 325.5%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.gallery-slider__item--nonumber::before {
  content: none;
}

.gallery-slider__link {
  color: #868686;
  line-height: 325.5% !important;
  margin-bottom: 0;
}

.gallery-slider__cell_info {
  margin-left: auto;
  margin-right: 85px;
  width: 28.2934131737%;
  background: #fff;
  border-radius: 5px;
  z-index: 15;
  position: relative;
  min-height: 250px;
  color: #0e0e0e;
  padding: 40px;
}

.gallery-slider__cell_slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  min-height: 300px;
}
.gallery-slider__cell_slider picture,
.gallery-slider__cell_slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1280px) {
  .gallery-slider__cell_info {
    width: 34.29341%;
  }
}
@media only screen and (max-width: 1200px) {
  .gallery-slider__name {
    max-width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .gallery-slider__cell_info {
    width: 41.29341%;
    margin-right: 10px;
  }
  .gallery-slider__cell_slider {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .gallery-slider__name {
    font-size: 36px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .gallery-slider__cell_info {
    width: 50%;
    margin-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px 10px 15px 30px;
  }
  .gallery-slider__cell_slider {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .gallery-slider__name {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .gallery-slider__link {
    color: #fff !important;
    display: block;
    width: 100%;
    height: 6.8rem;
  }
  .gallery-slider__cell_slider,
  .gallery-slider__item:before {
    display: none;
  }
  .gallery-slider__link .arrow {
    margin-right: 0;
    width: 1.8rem;
    opacity: 1 !important;
  }
  .gallery-slider__link .arrow .triangle {
    stroke: #fff !important;
  }
  .gallery-slider__link .arrow .stroke {
    fill: #fff !important;
  }
  .gallery-slider__item {
    padding-left: 0;
  }
  .gallery-slider__item:not(:last-child) {
    border-bottom: 1px solid rgba(196, 196, 196, 0.3);
  }
  .gallery-slider__cell {
    width: 100%;
    padding: 0;
    background: 0 0;
    color: #fff;
  }
}
.input {
  width: 100%;
  position: relative;
}

.input:before {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transition: ease 0.3s;
  transform: scale(0, 1);
  background-color: #000;
  transform-origin: 0 50%;
}

.input.is-error:before,
.list__item:before {
  background-color: #FF0600;
}

.input.is-error:before,
.input.is-focus:before {
  transform: scale(1, 1);
}

.input__parent {
  position: relative;
}

.input_big {
  margin-bottom: 3rem;
}

.input_big:before {
  bottom: 0;
}

.input_big .error {
  margin-top: 0.5rem;
}

.input_border {
  margin-bottom: 4.6rem;
}

.input__top,
.list__line:not(:last-child) {
  margin-bottom: 1.5rem;
}

.input.is-focus:before {
  transform: scale(1, 1);
}

.input__label {
  color: #000;
}

.input__info {
  margin-top: 10px;
}

.input_big-margin .input__top {
  margin-bottom: 16px;
}

.input_big-margin .input__top .input__label {
  font-size: 24px;
}

.input_big-margin .input__info {
  margin-top: 18px;
}

@media only screen and (max-width: 580px) {
  .input__top {
    margin-bottom: 1.6rem;
  }
  .input__top .input__label {
    color: #0e0e0e;
  }
  .input__info {
    margin-top: 1.1rem;
  }
  .input__label {
    font-size: 1.2rem;
  }
  .input_big .input {
    margin-bottom: 2.3rem;
  }
  .input_border {
    margin-bottom: 3.4rem;
  }
}
.link {
  display: inline-flex;
  align-items: center;
  transition: ease 0.2s;
  position: relative;
  padding-right: 0;
}

.range-input__char {
  display: -ms-flexbox;
  -webkit-box-align: center;
}

.range-input {
  position: relative;
  width: 100%;
}
.range-input .noUi-target {
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  top: -1px;
}
.range-input .noUi-horizontal {
  height: 1px;
  margin-left: 2px;
  margin-right: 16px;
}
.range-input .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  top: -9px;
}
.range-input .noUi-handle:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  background-color: #002137;
  transform: translate(-50%, -50%);
  transition: all 0.15s linear;
  border-radius: 100%;
}
.range-input .noUi-handle:hover:after {
  width: 70%;
  height: 70%;
}
.range-input .noUi-handle:before {
  content: none;
}
.range-input .noUi-connect {
  background-color: #002137;
}

.range-input_big.range-input .noUi-horizontal {
  margin-left: 8px;
  margin-right: 17px;
}
.range-input_big.range-input .noUi-handle {
  width: 26px;
  height: 26px;
  top: -13px;
}

.range-input__input,
.r-text input {
  height: 50px;
  background: #fff;
  padding: 10px 16px 10px 15px;
  border: 1px solid #c2c2c2;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #eff0f0;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
}

.range-input_big .range-input__input {
  height: 80px;
  padding: 20px 100px 20px 20px;
  font-size: 32px;
}

.range-input__input::-moz-placeholder,
.r-text input::-moz-placeholder {
  color: #757575;
}

.range-input__input::-moz-placeholder, .r-text input::-moz-placeholder {
  color: #757575;
}

.range-input__input::placeholder,
.r-text input::placeholder {
  color: #757575;
}

.range-input__char {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  z-index: 5;
  pointer-events: none;
  font-size: 16px;
}

.range-input_big .range-input__char {
  height: 80px;
  width: 100px;
  font-size: 30px;
}

@media only screen and (max-width: 580px) {
  .range-input__char {
    width: 40px;
  }
}
.r-button__next {
  -webkit-transition: ease 0.25s;
}

.r-bottom__agree,
.r-payment__text {
  text-align: right;
}

.conditions {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .conditions {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.conditions__bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background: #4F4F4F;
}

.conditions__slider {
  margin-top: -2.2rem;
}

.conditions__title {
  max-width: 700px;
  font-size: 40px;
  position: relative;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .conditions__title {
    font-size: 24px;
  }
}

.conditions__title br {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .conditions__slider {
    margin-top: 2.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .conditions__slider {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 580px) {
  .conditions {
    padding-top: 4.8rem;
    padding-bottom: 2.8rem;
  }
  .conditions__slider {
    margin-top: 1.3rem;
  }
}
@media only screen and (min-width: 769px) {
  .conditions--nedvig .gallery-slider__cell_info {
    min-width: 235px;
  }
}
.credit {
  padding-top: 4.5rem;
  padding-bottom: 6.4rem;
}

@media only screen and (max-width: 768px) {
  .credit {
    z-index: 500;
    position: relative;
  }
}
@media only screen and (max-width: 580px) {
  .credit {
    padding-top: 5.1rem;
    padding-bottom: 2.5rem;
  }
}
.faq {
  padding-top: 6rem;
  padding-bottom: 1.6rem;
}

.faq__accordion {
  margin-top: -1px;
}

.faq__accordion .accordion__top,
.faq__accordion .accordion__top .icon-down {
  transition: 0.2s ease;
}

.faq__accordion.active .accordion__top .icon-down,
.faq__accordion.active .accordion__top .icon-down {
  transform: rotate(-180deg);
}

@media only screen and (max-width: 580px) {
  .faq {
    padding-top: 5.1rem;
    background-color: #fff;
    padding-bottom: 0;
  }
}
.head-preview {
  position: relative;
}

.head-preview__button {
  min-width: 240px;
}

.head-preview__wrap {
  z-index: 15;
}

.head-preview__inner {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .head-preview__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.head-preview__bg {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  overflow: hidden;
}

.head-preview .head-preview__bg img,
.head-preview .head-preview__bg picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1.head-preview__title {
  margin-bottom: 30px;
  font-size: 56px;
  line-height: 120%;
}

.head-preview__box {
  max-width: 700px;
}

@media only screen and (max-width: 767px) {
  .head-preview .head-preview__title {
    font-size: 30px;
  }
  .head-preview .head-preview__box {
    margin-bottom: 0;
  }
  .head-preview .head-preview__inner {
    padding-top: 5.1rem;
    padding-bottom: 2.9rem;
  }
}
@media only screen and (max-width: 420px) {
  .head-preview .head-preview__bottom {
    flex-direction: column-reverse;
  }
}
.r-field.error,
.refinance__quiz .suggestions-wrapper {
  position: static;
}

.r-bottom__prev,
.r-button {
  outline: 0;
  border: none;
  min-width: 0;
  white-space: normal;
}

.r-bottom,
.r-bottom__prev {
  -webkit-box-align: center;
  display: -webkit-box;
}

.refinance__quiz .suggestions-suggestions {
  top: 65px;
}

@media screen and (max-width: 640px) {
  .refinance__quiz .suggestions-suggestions {
    top: 40px;
    font-size: 1rem;
  }
}
.r-bottom {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .r-bottom {
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
  }
}
.r-bottom__prev {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: 0 0;
  box-shadow: none;
  line-height: 1;
  width: -moz-fit-content;
  width: fit-content;
  max-width: none;
  padding: 0;
  color: #FF0600;
  cursor: pointer;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .r-bottom__prev {
    margin: 0;
    order: 1;
  }
}
.r-bottom__prev span {
  height: 1em;
}

.r-bottom__prev::before {
  display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  margin-right: 8px;
  flex-shrink: 0;
}

@media screen and (max-width: 640px) {
  .r-bottom__prev {
    font-size: 12px;
  }
  .r-bottom__prev::before {
    margin-right: 3px;
  }
}
.r-bottom__agree {
  font-size: 14px;
  color: #AFAFAF;
  width: 100%;
  max-width: 380px;
  margin-left: auto;
}

@media screen and (max-width: 1680px) {
  .r-bottom__agree {
    font-size: 13px;
  }
}
@media screen and (max-width: 1440px) {
  .r-bottom__agree {
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  .r-bottom__agree {
    max-width: none;
    text-align: center;
    margin: 0;
    font-size: 11px;
    order: 1;
  }
}
.r-bottom__agree a {
  color: #002137;
}

.r-text input[type=tel],
.r-text input[type=text] {
  white-space: normal;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  min-width: 0;
  outline: 0;
}

.r-field__extremes {
  display: -ms-flexbox;
}

.r-payment,
.r-range {
  font-family: "Montserrat", sans-serif;
}
@keyframes showField {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.r-field[data-toggle-target] {
  animation: showField 0.3s;
  display: none;
}

.r-field[data-toggle-target].showed {
  display: block;
}

.r-field.error {
  line-height: inherit;
  color: inherit;
  margin: 0;
}

.r-field.error .r-field__error {
  visibility: visible;
}

.r-field.error .r-field__text.r-text {
  background-color: #FFDCDC;
  border-color: #FF0600;
}

.r-field__title {
  display: block;
  color: #000;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 120%;
}

@media screen and (max-width: 1680px) {
  .r-field__title {
    font-size: 14px;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 1440px) {
  .r-field__title {
    font-size: 13px;
  }
}
@media screen and (max-width: 640px) {
  .r-field__title {
    margin-bottom: 16px;
    font-size: 12px;
    color: #000;
  }
}
@media screen and (max-width: 480px) {
  .r-field__title {
    margin-bottom: 12px;
  }
}
.r-field__extremes {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 46px;
  font-size: 16px;
  line-height: 1.1;
  padding-bottom: 20px;
}

.r-field__error,
.r-payment {
  display: -ms-flexbox;
  line-height: 1.1;
}

.r-form__screen,
.r-range {
  -webkit-box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  .r-field__extremes {
    min-height: 42px;
    font-size: 13px;
  }
}
@media screen and (max-width: 1100px) {
  .r-field__extremes {
    min-height: 45px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 640px) {
  .r-field__extremes {
    padding-bottom: 22px;
    min-height: 40px;
    font-size: 11px;
  }
}
.r-field__extremes span {
  color: #878787;
}

.r-field__error {
  font-weight: 400;
  min-height: 24px;
  color: #FF0600;
  font-size: 14px;
  visibility: hidden;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 1440px) {
  .r-field__error {
    min-height: 22px;
    font-size: 12px;
  }
}
.r-form {
  padding-top: 65px;
}
.r-form .simple-calc__field:not(:last-child) {
  margin-bottom: 0;
}
.r-form .input__top {
  margin-bottom: 10px;
}
.r-form .input__label {
  font-size: 16px;
}
.r-form .range-input__input,
.r-form .r-text input {
  background-color: #fff;
}

@media screen and (max-width: 1680px) {
  .r-form {
    padding-top: 52px;
  }
}
@media screen and (max-width: 1440px) {
  .r-form {
    padding-top: 45px;
  }
}
@media screen and (max-width: 1100px) {
  .r-form {
    padding-top: 48px;
  }
}
@media screen and (max-width: 780px) {
  .r-form {
    padding-top: 42px;
  }
}
.r-form__progress {
  margin: -50px 0 42px;
}

@media screen and (max-width: 960px) {
  .r-form__progress {
    margin: 0 0 25px;
  }
}
@keyframes showScreen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.r-form__screen {
  display: none;
  box-sizing: border-box;
}

.r-form__screen.active {
  animation: showScreen 0.4s;
  display: block;
}

.r-form__screen_0 .r-form__fields {
  margin-bottom: 40px;
}

@media screen and (max-width: 1440px) {
  .r-form__screen_0 .r-form__fields {
    margin-bottom: 61px;
  }
}
@media screen and (max-width: 960px) {
  .r-form__screen_0 .r-form__fields {
    margin-bottom: 17px;
  }
}
.r-form__screen_0 .r-form__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

@media screen and (max-width: 1440px) {
  .r-form__screen_0 .r-form__bottom {
    grid-gap: 34px;
  }
}
@media screen and (max-width: 1100px) {
  .r-form__screen_0 .r-form__bottom {
    grid-gap: 30px;
  }
}
@media screen and (max-width: 640px) {
  .r-field__error {
    min-height: 18px;
    font-size: 11px;
  }
  .r-form__screen_0 .r-form__bottom {
    display: flex;
    flex-flow: column nowrap;
    grid-gap: 20px;
  }
  .r-form__screen_0 .r-form__bottom .r-button {
    max-width: none;
    width: 100%;
  }
}
.r-form__screen_1 .r-form__fields {
  margin-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .r-form__screen_1 .r-form__fields {
    margin-bottom: 30px;
  }
}
.r-form__screen_2 .r-form__fields {
  margin-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .r-form__screen_2 .r-form__fields {
    margin-bottom: 12px;
  }
}
.r-form__screen_5 .r-form__fields {
  margin-bottom: 20px;
}

@media screen and (max-width: 1100px) {
  .r-form__screen_5 .r-form__fields {
    margin-bottom: 10px;
  }
}
.r-form__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px 40px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1680px) {
  .r-form__fields {
    grid-gap: 16px 40px;
  }
}
@media screen and (max-width: 1440px) {
  .r-form__fields {
    grid-gap: 14px 34px;
  }
}
@media screen and (max-width: 1100px) {
  .r-form__fields {
    grid-gap: 13px 30px;
  }
}
@media screen and (max-width: 480px) {
  .r-form__fields {
    margin-bottom: 12px;
  }
}
.r-form__field {
  width: 100%;
  grid-column: span 1;
}

.r-form__field_full,
.r-form__payment,
.r-form__subtitle {
  grid-column: span 2;
}

.r-form__button {
  padding: 30px 0;
}

.r-payment {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.r-payment__text {
  font-size: 18px;
  font-weight: 400;
  width: calc(50% - 25px);
}

@media screen and (max-width: 1680px) {
  .r-payment__text {
    width: calc(50% - 20px);
    font-size: 16px;
  }
}
@media screen and (max-width: 1440px) {
  .r-payment__text {
    width: calc(50% - 17px);
    font-size: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .r-payment__text {
    width: calc(50% - 14px);
  }
}
@media screen and (max-width: 767px) {
  .r-form__fields {
    grid-gap: 8px;
  }
  .r-form__field,
  .simple-calc__field {
    grid-column: span 2;
  }
  .r-payment__text {
    width: calc(50% - 10px);
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .r-payment {
    justify-content: center;
    margin-bottom: 37px;
  }
  .r-payment__text {
    width: auto;
    margin-right: 20px;
  }
}
.r-payment__value {
  display: flex;
  align-items: center;
  width: calc(50% - 25px);
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 1680px) {
  .r-payment__value {
    width: calc(50% - 20px);
    font-size: 32px;
  }
}
@media screen and (max-width: 1440px) {
  .r-payment__value {
    width: calc(50% - 17px);
    font-size: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .r-payment__value {
    width: calc(50% - 14px);
  }
}
@media screen and (max-width: 640px) {
  .r-payment__value {
    width: calc(50% - 10px);
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .r-payment__value {
    width: auto;
  }
}
@keyframes showList {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.r-side__note {
  -webkit-box-sizing: border-box;
}

.r-side {
  padding: 60px 20px;
  border-radius: 5px;
}
@keyframes showNote {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1440px) {
  .r-side {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 960px) {
  .r-side {
    display: flex;
    padding: 28px 45px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 640px) {
  .r-side {
    padding: 28px;
  }
}
@media screen and (max-width: 480px) {
  .r-side {
    display: block;
    padding: 16px 16px 100px;
  }
}
.r-side__manager {
  flex-shrink: 0;
}

.r-side__photo {
  overflow: hidden;
  width: 146px;
  height: 146px;
  border-radius: 500px;
  margin: 0 auto 34px;
}

.r-side__photo img {
  display: block;
}

@media screen and (max-width: 1680px) {
  .r-side__photo {
    margin: 0 auto 30px;
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 960px) {
  .r-side__photo {
    margin: 0 auto 10px;
    height: 110px;
    width: 110px;
  }
}
.r-side__name,
.r-side__position {
  text-align: center;
  margin: 0 auto;
  max-width: 250px;
}

.r-side__name {
  font-weight: 500;
  line-height: 1.5;
  font-size: 18px;
}

@media screen and (max-width: 1680px) {
  .r-side__name {
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  .r-side__name {
    font-size: 14px;
  }
}
.r-side__position {
  line-height: 1.4;
  font-size: 14px;
}

@media screen and (max-width: 1680px) {
  .r-side__position {
    line-height: 1.5;
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  .r-side__position {
    font-size: 11px;
  }
}
.r-side__note {
  display: none;
  box-sizing: border-box;
  position: relative;
  margin: 20px auto 0;
  max-width: 250px;
  background-color: #fff;
  line-height: 1.3;
  font-weight: 500;
  font-size: 11px;
  padding: 20px 10px;
  animation: showNote 0.3s;
}

@media screen and (max-width: 960px) {
  .r-side__note {
    margin: 20px 0 0;
  }
}
.r-side__note.active {
  display: block;
}

.r-side__note::before {
  display: block;
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: calc(50% - 8px);
  bottom: 100%;
  width: 16px;
  height: 8px;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}

@media screen and (max-width: 960px) {
  .r-side__note::before {
    width: 8px;
    height: 16px;
    border-color: transparent #fff transparent transparent;
    bottom: auto;
    right: 100%;
    left: auto;
    top: 25%;
  }
}
@media screen and (max-width: 480px) {
  .r-side__note {
    margin: 20px auto 0;
  }
  .r-side__note::before {
    height: 8px;
    width: 16px;
    border-color: transparent transparent #fff;
    bottom: 100%;
    right: auto;
    left: calc(50% - 8px);
    top: auto;
  }
}
@keyframes showProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.r-steps {
  display: flex;
  padding: 64px 0;
}
@media only screen and (max-width: 1023px) {
  .r-steps {
    padding: 40px 0 80px;
  }
}
@media screen and (max-width: 767px) {
  .r-steps {
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
  }
}
@media screen and (max-width: 640px) {
  .r-steps {
    padding: 32px 21px;
  }
}

.r-steps__step {
  display: flex;
  gap: 21px;
}
@media screen and (max-width: 1023px) {
  .r-steps__step {
    gap: 16px;
  }
}

.r-steps__icon-step {
  max-height: 100%;
  height: 48px;
  width: 48px;
}
@media screen and (max-width: 1023px) {
  .r-steps__icon-step {
    font-weight: 40px;
    height: 40px;
  }
}

.r-steps__text {
  font-size: 18px;
}
@media screen and (max-width: 1023px) {
  .r-steps__text {
    font-size: 14px;
  }
}

.r-steps__icon-next {
  fill: transparent;
  stroke-width: 2;
  stroke: #002137;
  width: 11px;
  height: 21px;
  margin: 12px auto 0;
}

@media screen and (max-width: 767px) {
  .r-steps__icon-step {
    display: none;
  }
  .r-steps__text {
    text-align: center;
    font-size: 12px;
    max-width: 170px;
  }
  .r-steps__text br {
    display: none;
  }
  .r-steps__icon-next {
    transform: rotate(90deg);
    margin: 0;
  }
}
.r-text {
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.refinance {
  margin: 0 auto 20px;
  max-width: 1400px;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .refinance {
    max-width: 1200px;
  }
}
@media screen and (max-width: 580px) {
  .refinance {
    padding: 0;
  }
}
.refinance__steps {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .refinance__steps {
    max-width: 960px;
  }
}
@media screen and (max-width: 1024px) {
  .refinance__steps {
    max-width: none;
  }
}
@media screen and (max-width: 960px) {
  .refinance__steps {
    max-width: 770px;
  }
}
.refinance__quiz {
  background-color: #F3F3F3;
  padding: 60px 85px;
}

@media screen and (max-width: 1680px) {
  .refinance__quiz {
    padding: 54px 74px;
  }
}
@media screen and (max-width: 1440px) {
  .refinance__quiz {
    padding: 52px 68px;
  }
}
@media screen and (max-width: 1100px) {
  .refinance__quiz {
    padding: 40px 24px;
  }
}
@media screen and (max-width: 780px) {
  .refinance__quiz {
    padding: 50px 40px;
  }
}
@media screen and (max-width: 640px) {
  .refinance__quiz {
    padding: 30px 14px;
  }
}
@media screen and (max-width: 480px) {
  .refinance__quiz {
    padding: 25px 14px;
    max-width: calc(100% - 30px);
    margin: 0 auto;
  }
}
.refinance__cap {
  display: flex;
  line-height: 1.2;
  margin-bottom: 28px;
}

@media screen and (max-width: 960px) {
  .refinance__cap {
    margin-bottom: 52px;
  }
}
@media screen and (max-width: 767px) {
  .refinance__cap {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  .refinance__cap {
    flex-flow: column nowrap;
  }
}
.refinance__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  padding-right: 20px;
  margin-right: auto;
}

@media screen and (max-width: 1680px) {
  .refinance__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 1440px) {
  .refinance__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .refinance__title {
    font-size: 27px;
  }
}
@media screen and (max-width: 960px) {
  .refinance__title {
    line-height: 1.4;
  }
  .refinance__body {
    flex-flow: column nowrap;
  }
}
.refinance__count {
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
}

@media screen and (max-width: 640px) {
  .refinance__title {
    font-size: 18px;
    text-align: center;
    margin: 0 0 10px;
    padding: 0;
  }
  .refinance__count {
    text-align: center;
    font-size: 11px;
  }
}
.refinance__body {
  display: flex;
}

.refinance__form {
  flex-grow: 1;
  margin-right: 60px;
}

@media screen and (max-width: 1680px) {
  .refinance__form {
    margin-right: 65px;
  }
}
@media screen and (max-width: 1440px) {
  .refinance__form {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .refinance__form {
    margin-right: 35px;
  }
}
@media screen and (max-width: 960px) {
  .refinance__form {
    margin: 0 0 80px;
  }
}
@media screen and (max-width: 480px) {
  .refinance__title {
    line-height: 1.15;
  }
  .refinance__form {
    margin-bottom: 20px;
  }
}
.refinance__side {
  flex-shrink: 0;
  width: 290px;
  background: url(../img/tree_w.png) bottom -50px right -45px/159px 165px no-repeat #fff;
}

@media screen and (max-width: 1440px) {
  .refinance__side {
    width: 250px;
  }
}
@media screen and (max-width: 1100px) {
  .refinance__side {
    width: 210px;
  }
}
@media screen and (max-width: 960px) {
  .refinance__side {
    width: 100%;
  }
}
.simple-calc__inner {
  background-color: #fff;
  padding: 120px 0;
}
@media only screen and (max-width: 1023px) {
  .simple-calc__inner {
    padding: 40px 0;
  }
}

.simple-calc__title {
  margin-bottom: 6rem;
  line-height: 120%;
  font-size: 4rem;
}

.simple-calc__field:not(:last-child) {
  margin-bottom: 3.7rem;
}

.simple-calc__price {
  margin-bottom: 4rem;
}

.simple-calc__price-item {
  margin-bottom: 6px;
  font-size: 40px;
}

.simple-calc__button {
  width: 100%;
}

.simple-calc__button.btn:hover {
  border-color: #002137;
}

.simple-calc__small {
  color: rgba(14, 14, 14, 0.5);
}

.simple-calc__cell_left {
  width: 50%;
  border-right: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5%;
}

.simple-calc__cell_right {
  width: 50%;
  padding-left: 5%;
}

@media only screen and (max-width: 767px) {
  .simple-calc__title {
    text-align: center;
    margin-bottom: 2.2rem;
  }
  .simple-calc__cell_left,
  .simple-calc__field:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  .simple-calc__cell {
    width: 100%;
    border: none;
    padding: 0;
  }
  .simple-calc__cell_right {
    text-align: center;
  }
  .simple-calc__price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1.2rem;
    flex-direction: row-reverse;
  }
  .simple-calc__price-item {
    margin-bottom: 0;
    margin-left: 1.4rem;
  }
  .simple-calc__small {
    font-size: 1rem;
    line-height: 140%;
    color: #0E0E0E;
    width: 80%;
    margin: auto;
  }
}
.stroke {
  position: relative;
  display: inline-block;
}

.stroke:before {
  content: "";
  display: block;
  background-color: #FF0600;
  height: 1rem;
  position: absolute;
  left: 0;
  bottom: 0.9rem;
  right: 0;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .stroke:before {
    height: 5px;
    bottom: 7px;
  }
}
@media only screen and (max-width: 580px) {
  .stroke:before {
    height: 3px;
    bottom: 5px;
  }
}
.vantages_big-margin {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media only screen and (max-width: 768px) {
  .vantages_big-margin {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.vantages__row.flex {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 50px;
}
@media only screen and (max-width: 1200px) {
  .vantages__row.flex {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 768px) {
  .vantages__row.flex {
    grid-template-columns: minmax(0, 1fr);
  }
}

.vantages__title {
  padding-top: 90px;
  font-size: 40px;
}
@media only screen and (max-width: 1023px) {
  .vantages__title {
    padding-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .vantages__title {
    font-size: 24px;
  }
}

.vantages__text {
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 18px;
}

.vantages__cell {
  width: 100%;
  margin: 0;
  position: relative;
  display: block;
  background-color: #f3f3f3;
}

.vantages__cell-icon {
  border: 3px solid #f3f3f3;
  background-color: #fff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -45px;
}

.vantages__cell-icon svg {
  display: block;
  width: 34px;
  fill: transparent;
  transition: ease 0.15s;
  stroke-width: 2;
  stroke: #002137;
}

.vantages__cell-inside {
  padding: 120px 30px 50px 50px;
}

.vantages__cell_transparent {
  background-color: transparent;
}

.vantages__link {
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  .vantages__title {
    text-align: center;
    padding-top: 0;
  }
  .vantages__cell {
    width: 100%;
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */